.workout-container {
  max-width: 884px;
  margin: 37px auto 0;
}

.workout-container .title1 {
  font-weight: bold;
  font-size: 24px;
}

.workout-container .title2 {
  font-size: 24px;
}

.workout-container .workoutTotalLabel {
  font-size: 14px;
  opacity: 0.4;
}

.workout-container .workoutTotalValue {
  font-weight: bold;
  font-size: 16px;
  opacity: 0.4;
  margin-right: 16px;
}

.workout-container .workout-row {
  margin-top: 34px;
  height: 56px;
}

.workout-container .save-workout-btn {
  font-weight: bold;
  border: 3px solid #1979FF;
  border-radius: 8px;
  color: #1979FF;
  width: 94px;
  height: 40px;
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.1), -8px -8px 18px white;
  -webkit-transition: color 0.1s ease-out, background-color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-out, background-color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-out, background-color 0.1s ease-in-out;
}

.workout-container .save-workout-btn:disabled {
  opacity: 0.4;
}

.workout-container .save-workout-btn:hover:not(:disabled) {
  color: #EBEAEA;
  background-color: #1979FF;
}

.workout-container .save-workout-btn:focus {
  outline: 0px solid !important;
}