.Input {}

.Input input {
  min-height: 56px;
  background: #F3F3F3;
  border-radius: 8px;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.15), inset -4px -4px 8px rgba(255, 255, 255, 0.8);
  padding: 18px 24px;
}

.Input input.workout-name {
  font-weight: bold;
}

.Input .float-container {
  position: relative;
}

.Input .float-container label {
  position: absolute;
  opacity: 0.6;
  transform: translate(22px, 16px);
  transition: all .2s ease-in-out;
}

.Input .float-container.active label {
  transform: translate(260px, 16px);
}