.workout-element {
  margin-top: 16px;
}

.workout-element>.card-sm {
  max-width: 408px;
  min-width: 408px;
  padding: 17px 24px;
  -webkit-transition: box-shadow 0.150s ease-out;
  -moz-transition: box-shadow 0.150s ease-out;
  -o-transition: box-shadow 0.150s ease-out;
  transition: box-shadow 0.150s ease-out;
}

.workout-element>.card-sm:hover {
  cursor: pointer;
  box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.1), -16px -16px 30px white;
}

.workout-element .card-name {
  margin-left: 12px;
}

.workout-element .break-duration {
  margin-left: 0.25rem;
  margin-top: 0.1rem;
}

.workout-element .attributes-row {
  margin-top: 18px;
}

.workout-element .add-break-element {
  margin-top: 24px;
  cursor: pointer;
}

.workout-element .add-break-element .line {
  width: 144px;
  border: 2px solid #D8D8D8;
  border-radius: 4px;
}

.workout-element .add-break-element .break-line {
  font-weight: bold;
  font-size: 14px;
  opacity: 0.4;
  -webkit-transition: opacity 0.150s ease-out;
  -moz-transition: opacity 0.150s ease-out;
  -o-transition: opacity 0.150s ease-out;
  transition: opacity 0.150s ease-out;
}

.workout-element .add-break-element:hover .break-line {
  opacity: 0.8;
}