.card-lg {
  max-width: 420px;
  min-width: 420px;
  border-radius: 21.33px;
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.1), -8px -8px 18px white;
  padding: 24px;
  background-color: #EBEAEA;
}

.card-sm {
  min-width: 372px;
  max-width: 372px;
  padding: 14px 24px;
  border-radius: 10px;
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.1), -8px -8px 18px white;
  background-color: #EBEAEA;
}

.card-name {
  font-weight: bold;
  font-size: 18px;
}

.disabled {
  opacity: 0.4;
}