.exercise-item {
  margin-bottom: 16px;
}

.exercise-item .wrapper {
  width: 178px;
  height: 135px;
  background: #D8D8D8;
  border-radius: 4px;
  background-size: cover;
}

.exercise-item .wrapper span {
  margin: 8px;
  font-weight: bold;
  font-size: 14px;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper:hover .add-exercise-btn {
  display: block;
  opacity: 1;
}

.add-exercise-btn {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.150s ease-out;
  -moz-transition: opacity 0.150s ease-out;
  -o-transition: opacity 0.150s ease-out;
  transition: opacity 0.150s ease-out;
}